<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>No applications list</title>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <p>This house doesn't have applications</p>
        <a th:href="@{/houses/list}">Go back</a>
        <br>
        <br>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Home">
</form>
</body>
</html>