<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.jpeg" >
    <meta charset="UTF-8">
    <title>Invalid user data</title>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <p>The user's data is not valid</p>
        <a href="/register">Try again</a>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Home">
</form>
</body>
</html>