<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to the Student Housing Web Manager :)</h1>

<a href="/houses/list">List of your houses</a>
<br>
<a href="/houses/new">Add a new house</a>
<br><br>
<a href="/login">Login</a>
<br>
<a href="/register">Register</a>

<br><br><br>
It does not matter how slowly you go so long as you do not stop learning. <br><i>Confucius</i><br><br>
</body>
</html>