<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of houses</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Facilities</th>
        <th>Address</th>
        <th>Area</th>
        <th>Rent</th>
        <th>Deposit</th>
    </tr>
    </br>
    </thead>
    <tbody>
    <tr th:each="house : ${housesList}">
        <td th:text="${house.title}">Bonito departamento</td>
        <td th:text="${house.description}">amplio y con buenas vistas</td>
        <td th:text="${house.facilities}">TV, internet, nevera</td>
        <td th:text="${house.address}">Pi i molist 23</td>
        <td th:text="${house.area}">Nou Barris</td>
        <td th:text="${house.rent}">500euros</td>
        <td th:text="${house.deposit}">300euros</td>
        <td><a th:href="@{/houses/edit/{id}(id=${house.houseId})}">Edit</a></td>
        <td><a th:href="@{/houses/delete/{id}(id=${house.houseId})}">Delete</a></td>
        <br/>
    </tr>
    </tbody>
</table>
<br/>
<form th:action="@{/houses/sortByPrice}" method="get">
    <input type="submit" value="Sort the list by price">
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Home">
</form>
</body>
</html>