<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form method="post" action="#" th:action="@{/owner/new/submit}" th:object="${ownerForm}">
    Name <input type="text" id="name" placeholder="John Doe" th:field="*{name}"><br/>
    Phone <input type="text" id="phone" placeholder="647586999" th:field="*{phone}"><br/>
    Email <input type="text" id="email" placeholder="john@doe.com" th:field="*{email}"><br/>
    Password <input type="text" id="password" placeholder="****" th:field="*{password}"><br/>

    <button type="submit">Register</button>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Home">
</form>
</body>
</html>