<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Security error</title>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <p>Security error!</p>
        <p>&#58;&#40;</p>
        <p><a href="/login">Let me try again!</a></p>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Home">
</form>
</body>
</html>