<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.jpeg" >
    <meta charset="UTF-8"/>
    <title>Add a new house</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/dropzonejs/dropzone.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/toastr/toastr.min.css}"/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Add house</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <form method="post" action="#" th:action="@{/houses/new/submit}"
          th:object="${housesForm}">
        <h1>New house</h1>

        Title <input type="text" id="title" placeholder="House title..." th:field="*{title}"><br/>
        Description <input type="text" id="description" placeholder="House description..." th:field="*{description}"><br/>
        Facilities <input type="text" id="facilities" placeholder="House facilities..." th:field="*{facilities}"><br/>
        Address <input type="text" id="address" placeholder="House description..." th:field="*{address}"><br/>
        Area <input type="text" id="area" placeholder="House area..." th:field="*{area}"><br/>
        Rent <input type="text" id="rent" placeholder="House rent..." th:field="*{rent}"><br/>
        Deposit <input type="text" id="deposit" placeholder="House deposit..." th:field="*{deposit}"><br/>
        Picture <input type="text" id="picture" placeholder="Picture URL..." th:field="*{picture}"><br/>
        <button type="submit">Save</button>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out">
    </form>
    <form th:action="@{/}" method="get">
        <input type="submit" value="Home">
    </form>


    <div class="row">
        <div class="col-lg-8 mt-5">

            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>

            <div id="dropzone">
                <form action="/upload" class="dropzone needsclick" id="demo-upload">

                    <div class="dz-message needsclick">
                        <button type="button" class="dz-button">Drop files here or click to upload.</button>
                        <br/>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/dropzonejs/dropzone.min.js}"></script>
<script th:src="@{/assets/toastr/toastr.min.js}"></script>

<script>
    Dropzone.autoDiscover = false;

    $("#demo-upload").dropzone({
        success : function(file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');
        }
    });
</script>

</body>
</html>