<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The username already exists</title>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>ERROR </h1>
        <p>The username that you are trying to register already exists!</p>
        <p>&#58;&#40;</p>
        <p><a href="/register">Try again</a></p>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out">
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Home">
</form>
</body>
</html>